.feature_details {
	width: 100%;
	height: 100%;
	grid-column-start: 12;
	grid-column-end: 20;
	grid-row-start: 4;
	grid-row-end: 19;
	background-color: #14274e;
	padding: 2rem 5rem;
	color: aliceblue;
}

.feature_details_heading {
	color: #00fff5;
	font-size: 3rem;
}

.feature_details p {
	line-height: 1.8;
}
