.nav_login {
	color: aliceblue;
	background-color: #00fff5;
	/* padding: 0.5rem; */
	border-radius: 0.5rem;
	transition: background-color 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav_login > a {
	text-decoration: none;
	color: #f1f6f9;
}

.nav_login > a::before {
	all: unset;
}

.nav_login > a::after {
	all: unset;
}

.nav_login > a {
	color: #393e46;
	padding: 1rem;
}

.nav_login:hover {
	background-color: #00adb5;
}

.nav_login:hover > a {
	color: white;
}
