@import url("../colors.css");

.footer {
	height: 100%;
	width: 100vw;
	background-color: var(--footerbgcolor);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 4rem 2rem 4rem;
}

.extra_margin {
	margin-top: 3rem;
}

.centerFooter {
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerFooter::before {
	display: none;
}

.footerSvg{
    position: relative;
    color: var(--textcolor1);
}

.footerSvg::after{
    position: absolute;
    content: "";
    height: 3rem;
    width: 2px;
    background-color: var(--highlight);
    left: 50%;
    top: 110%;
}

.footerNewsletter {
    padding-top: 1.5rem;
    margin-bottom: 0;
    color: var(--textcolor1);
}

.footerInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerInputs input{
    box-sizing: border-box;
    height: 3rem;
    width: 78%;
    padding: 1rem;
    background-color: white;
    border-left: 2px black solid;
    border-right: none;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.footerInputs input::placeholder{
    color: black;
    opacity: 1;
    font-weight: 400;
    font-size: 1rem;
}

.footerInputs span{
    height: 3rem;
    background-color: white;
    font-weight: 400;
    font-size: 1rem;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px gray solid;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.footerCopyright {
    color: white;
}